<h1 mat-dialog-title>Nuova Alimentazione</h1>

<div mat-dialog-content>
  <form [formGroup]="form" class="form-grid">

    <mat-form-field appearance="fill">
      <mat-label>Descrizione</mat-label>
      <input matInput formControlName="descrizione" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Potenza (Watt)</mat-label>
      <input matInput type="number" formControlName="potenza" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>ID Prodotto</mat-label>
      <input matInput type="number" formControlName="idProdotto" />
    </mat-form-field>

  </form>
</div>

<div mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Annulla</button>
  <button mat-flat-button color="primary" (click)="onSave()" [disabled]="!form.valid">
    Salva
  </button>
</div>
