<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Persone - Due per riga</title>
  </head>
  <body>
    <h2 align="center">CHI SIAMO</h2>
    <div class="container">
      <div class="person">
        <img src="icon-utente.png" alt="Mattia Borca" />
        <h2>Mattia Borca</h2>
        <p></p>
      </div>

      <div class="person">
        <img src="icon-utente.png" alt="Roberto Bruno" />
        <h2>Roberto Bruno</h2>
        <p></p>
      </div>

      <div class="person">
        <img src="icon-utente.png" alt="Mattias Cojan" />
        <h2>Mattias Cojan</h2>
        <p></p>
      </div>

      <div class="person">
        <img src="icon-utente.png" alt="Francesco Napolitano" />
        <h2>Francesco Napolitano</h2>
        <p></p>
      </div>

      <div class="person">
        <img src="icon-utente.png" alt="Simone Grisorio" />
        <h2>Simone Grisorio</h2>
        <p></p>
      </div>
    </div>
  </body>
</html>
