<div class="container text-center mt-5">

  <!--
  <h2>Carrello</h2>
  <p class="mt-3">Il tuo carrello è vuoto.</p>
  <a routerLink="/home" class="btn-custom"> Torna alla Home </a>

  con ng if ci da questa quando il carrello è vuoto
  -->

<div class="carrello-container">

  <!-- SINISTRA: lista prodotti -->
  <div class="colonna-sinistra">
    <div *ngFor="let item of oggettoNelCarrello" class="carrello-item">
      <img [src]="item.immagine" alt="{{item.nome}}" class="carrello-img">
      <div class="carrello-info">
        <h3>{{ item.nome }}</h3>
        <p>Quantità: {{ item.quantita }}</p>
        <button (click)="rimuoviDalCarrello(item.id)">Rimuovi</button>
      </div>
    </div>
  </div>

  <!-- DIVISORE VERTICALE -->
  <div class="vertical-line"></div>

  <!-- DESTRA: riepilogo e totale -->
  <div class="colonna-destra">
    <h2 class="totale-title">Totale</h2>
    <hr class="linea-sottile" />

  <div class="lista-prezzi">
    <div *ngFor="let prodotto of prodotti" class="prezzo-riga">
      <span>{{ prodotto.nome }}</span>
      <span>
        <ng-container *ngIf="getQuantitaProdotto(prodotto.nome) > 1">
          {{ getQuantitaProdotto(prodotto.nome) }} x 
        </ng-container>
        {{ prodotto.prezzo | currency:'EUR' }}
      </span>
    </div>
  </div>


    <hr class="linea-sottile" />

    <div class="totale-finale">
      <strong>Totale:</strong>
      <span>{{ getTotalePrezzo() | currency:'EUR' }}</span>
    </div>
  </div>

</div>











</div>
