<div class="container text-center my-5 py-5 ">
    <h1>Login</h1>
    <form #signupForm="ngForm" (ngSubmit)="onSubmit(signupForm)" class="d-flex flex-column align-items-center p-3">
        <mat-form-field class="w-25">
            <mat-label>Username</mat-label>
            <input matInput type="text" name="username" ngModel required>
        </mat-form-field>

        <mat-form-field class="w-25">
            <mat-label>Password</mat-label>
            <input matInput type="password" name="password" ngModel required>
        </mat-form-field>

        <p>{{msg}}</p>

        <div>
            <button type="button" class="btn btn-outline-primary m-1" type="submit" [disabled]="!signupForm.valid">Accedi</button>
            <button type="button" class="btn btn-success" [routerLink]="['/register']" >Non sei registrato?</button>
        </div>

    </form>
</div>