/* Navbar background e testo */
/* Colori e stile generale */
.custom-navbar {
  background-color: #115999 !important;
  color: white;

  .navbar-nav .nav-link {
    color: white !important;
    &:hover {
      color: #ccc !important;
    }
  }

  button[mat-button] {
    color: white !important;
  }

  .mat-menu-content {
    background-color: #115999 !important;
    color: white !important;
  }

  .mat-menu-item {
    color: white !important;
    &:hover {
      background-color: #0d447a !important;
    }
  }

  .icon-white {
    color: white;
    cursor: pointer;
  }

  .logo-img {
    max-width: 250px;
    height: auto;
  }

  .search-icon {
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    color: gray;
    pointer-events: none;
  }

  form {
    min-width: 300px;
  }
}

/* Adattamento per schermi più piccoli */
@media (max-width: 1400px) {
  .custom-navbar .logo-img {
    max-width: 180px;
  }

  .custom-navbar form {
    max-width: 600px;
  }
}

@media (max-width: 992px) {
  .custom-navbar form {
    max-width: 100%;
    margin: 10px 0;
  }

  .custom-navbar .navbar-nav {
    gap: 1rem;
  }

  .custom-navbar .d-flex.align-items-center.justify-content-between {
    flex-direction: column;
    align-items: stretch;
  }
  
}
