<h1 mat-dialog-title>Nuovo Monitor</h1>

<div mat-dialog-content>
  <form [formGroup]="form" class="form-grid">

   <mat-form-field appearance="fill">
      <mat-label>Descrizione</mat-label>
      <input matInput formControlName="descrizione" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Marca</mat-label>
        <mat-select formControlName="idMarca" [disabled]="!marche.length">
          <mat-option value="">-- Seleziona Marca --</mat-option>
          <mat-option *ngFor="let marca of marche" [value]="marca.id">{{ marca.descrizione }}</mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('idMarca')?.invalid && form.get('idMarca')?.touched">
          La marca è obbligatoria
        </mat-error>
      </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Costo</mat-label>
      <input matInput type="number" formControlName="costo" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Prezzo</mat-label>
      <input matInput type="number" formControlName="prezzo" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Quantità</mat-label>
      <input matInput type="number" formControlName="quantita" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Immagine (URL)</mat-label>
      <input matInput formControlName="img" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Risoluzione</mat-label>
      <input matInput formControlName="risoluzione" />
      <mat-error *ngIf="form.get('risoluzione')?.hasError('required')">
        Inserisci la risoluzione
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Latenza (ms)</mat-label>
      <input matInput formControlName="latenza" />
      <mat-error *ngIf="form.get('latenza')?.hasError('required')">
        Inserisci la latenza
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Frequenza (Hz)</mat-label>
      <input matInput formControlName="frequenza" />
      <mat-error *ngIf="form.get('frequenza')?.hasError('required')">
        Inserisci la frequenza
      </mat-error>
    </mat-form-field>

  </form>
</div>

<div mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Annulla</button>
  <button mat-flat-button color="primary" (click)="onSubmit()" [disabled]="!form.valid">
    Salva
  </button>

  <button 
    *ngIf="form.get('idElem')?.value  && form.get('idElem')?.value!==0"
    mat-flat-button 
    style="background-color: red; color: white;" 
    (click)="onDelete()"  >
    elimina
  </button>
</div>
