 <div class="container py-4">
  <div class="row">
    <div class="col-md-12">
      <div class="main-container">
        <!-- Sezione sinistra -->
        <div class="left-section">
          <div class="user-info-horizontal">
            <div class="user-img">
              <img src="icon-utente.png" alt="Home" class="logo-img" />
            </div>

            <div class="user-details">
              <h3>I tuoi dettagli:</h3>
              <h4>{{ utente?.userName }}</h4>

              <div class="user-details h6">
                <div class="info-row">
                  <span class="label">Email:</span><br />
                  <span class="value">{{
                    utente?.email || "Email non disponibile"
                  }}</span>
                </div>
                <div class="info-row">
                  <span class="label">Indirizzo di spedizione:</span><br />
                  <span class="value">{{ utente?.indirizzo }}</span>
                </div>
                <div class="info-row">
                  <span class="label">Telefono:</span><br />
                  <span class="value">{{ utente?.telefono }}</span>
                </div>
              </div>

              <mat-radio-group> </mat-radio-group>
              <div class="user-actions">
                <button class="custom-btn" (click)="openModalUpdateUtente()">
                  Modifica profilo
                </button>
                <button
                  class="custom-btn-danger"
                  (click)="openModalDeleteUtente()"
                >
                  Elimina profilo
                </button>
              </div>
            </div>
          </div>
        </div>

        <!-- Modale per "Modifica utente" -->
        <div class="modal" *ngIf="showModalUpdateUtente">
          <div class="modal-content">
            <span class="close-btn" (click)="closeModalUpdateUtente()"
              >&times;</span
            >
            <h4>Modifica utente</h4>
            <form [formGroup]="updateUserForm" (ngSubmit)="saveUserChanges()">
            <h6>Nome Utente</h6>
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Inserire nuovo nome utente</mat-label>
              <input matInput formControlName="userName" />
            </mat-form-field>

            <h6>Indirizzo</h6>
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Inserire nuovo indirizzo</mat-label>
              <input matInput formControlName="indirizzo" />
            </mat-form-field>

            <h6>Telefono</h6>
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Inserire nuovo numero di telefono</mat-label>
              <input matInput formControlName="telefono" />
            </mat-form-field>

            <h6>Email</h6>
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Inserire nuovo indirizzo email</mat-label>
              <input matInput formControlName="email" />
            </mat-form-field>

            <h6>Password</h6>
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Inserire nuova password</mat-label>
              <input matInput formControlName="pwd" />
            </mat-form-field>

            <div class="user-actions">
              <button class="custom-btn">Salva modifiche</button>
              <button
                  class="custom-btn-danger"
                  type="button"
                (click)="closeModalUpdateUtente()"
              >
                Annulla
              </button>
            </div>
          </form>
          </div>
        </div>

        <!-- Modale per "Elimina utente" -->
        <div class="modal" *ngIf="showModalDeleteUtente">
          <div class="modal-content">
            <span class="close-btn" (click)="closeModalDeleteUtente()"
              >&times;</span
            >
            <h6>
              Sei sicuro? L'eliminazione dell'account è permanente. <br />
              Una volta confermata l'eliminazione, non sarà possibile recuperare
              i dati dell'account
            </h6>
            <div class="user-actions">
              <button class="custom-btn" (click)="deleteUser()">
                Conferma eliminazione account
              </button>
              <button
                class="custom-btn-danger"
                (click)="closeModalDeleteUtente()"
              >
                Annulla
              </button>
            </div>
          </div>
        </div>

        <!-- Sezione destra -->
        <div class="right-section" *ngIf="isAdmin">
          <!-- Linea verticale blu -->
          <div class="vertical-line"></div>
          <div class="user-actions">
            <h4>Interfaccia Amministratore</h4>
            <button class="custom-btn" (click)="openDialogPc()">
              Creazione PC
            </button>
            <button mat-raised-button class="custom-btn" (click)="openDialog()">
                Aggiungi Prodotto
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modale per "Creazione PC" 
<div class="modal" *ngIf="showModalPC">
  <div class="modal-content">
    <span class="close-btn" (click)="closeModalPC()">&times;</span>
    <h4>Creazione PC</h4>

    <h6>Scheda Madre</h6>
    <mat-form-field appearance="fill">
      <mat-label>Seleziona scheda madre</mat-label>
      <mat-select>
        <mat-option value="1">Opzione 1</mat-option>
        <mat-option value="2">Opzione 2</mat-option>
      </mat-select>
    </mat-form-field>

    <h6>Processore</h6>
    <mat-form-field appearance="fill">
      <mat-label>Seleziona processore</mat-label>
      <mat-select>
        <mat-option value="1">Opzione 1</mat-option>
        <mat-option value="2">Opzione 2</mat-option>
      </mat-select>
    </mat-form-field>

    <h6>Placeholder</h6>
    <mat-form-field appearance="fill">
      <mat-label>Seleziona placeholder</mat-label>
      <mat-select>
        <mat-option value="1">Opzione 1</mat-option>
        <mat-option value="2">Opzione 2</mat-option>
      </mat-select>
    </mat-form-field>

    <h6>Placeholder</h6>
    <mat-form-field appearance="fill">
      <mat-label>Seleziona placeholder</mat-label>
      <mat-select>
        <mat-option value="1">Opzione 1</mat-option>
        <mat-option value="2">Opzione 2</mat-option>
      </mat-select>
    </mat-form-field>

    <h6>Placeholder</h6>
    <mat-form-field appearance="fill">
      <mat-label>Seleziona placeholder</mat-label>
      <mat-select>
        <mat-option value="1">Opzione 1</mat-option>
        <mat-option value="2">Opzione 2</mat-option>
      </mat-select>
    </mat-form-field>

    <h6>Placeholder</h6>
    <mat-form-field appearance="fill">
      <mat-label>Seleziona placeholder</mat-label>
      <mat-select>
        <mat-option value="1">Opzione 1</mat-option>
        <mat-option value="2">Opzione 2</mat-option>
      </mat-select>
    </mat-form-field>

    <h6>Placeholder</h6>
    <mat-form-field appearance="fill">
      <mat-label>Seleziona placeholder</mat-label>
      <mat-select>
        <mat-option value="1">Opzione 1</mat-option>
        <mat-option value="2">Opzione 2</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="user-actions">
      <button class="custom-btn">Salva PC</button>
      <button class="custom-btn-danger" (click)="closeModalPC()">
        Annulla
      </button>
    </div>
  </div>
</div>
-->
<!-- Modale per "Aggiungi prodotto" -->
<!--
<div class="modal" *ngIf="showModalAddProdotto">
  <div class="modal-content">
    <span class="close-btn" (click)="closeModalAddProdotto()">&times;</span>
    <h4>Aggiungi Prodotto</h4>

    <h6>Placeholder</h6>
    <mat-form-field appearance="fill">
      <mat-label>Seleziona placeholder</mat-label>
      <mat-select>
        <mat-option value="1">Opzione 1</mat-option>
        <mat-option value="2">Opzione 2</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="user-actions">
      <button class="custom-btn">Aggiungi prodotto</button>
      <button class="custom-btn-danger" (click)="closeModalAddProdotto()">
        Annulla
      </button>
    </div>
  </div>
</div>
-->