<!-- Footer -->
<footer class="bg-dark text-white mt-5 py-3 px-3 w-100" style="margin-bottom: 0;">
  <div class="container-fluid d-flex align-items-start gap-5 flex-wrap justify-content-between footer-content">

    <!-- Logo -->
    <div class="footer-block">
      <img src="logot.png" alt="Home" class="footer-logo">
    </div>

    <!-- Azienda -->
    <div class="footer-block">
      <span class="fs-5 fw-bold mb-2 d-block">La nostra azienda</span>
      <a href="/chisiamo" class="text-white text-decoration-none mb-2 d-block">Chi siamo?</a>
    </div>

    <!-- Contatti -->
    <div class="footer-block">
      <span class="fs-5 fw-bold mb-2 d-block">Contatti</span>
      <a href="/home" class="text-white text-decoration-none mb-2 d-block">
        <i class="bi bi-telephone me-2 fs-7"></i> Whatsapp
      </a>
      <a href="/home" class="text-white text-decoration-none d-block">
        <i class="bi bi-envelope me-2 fs-7"></i> Email
      </a>
    </div>

    <!-- Link Utili -->
    <div class="footer-block">
      <span class="fs-5 fw-bold mb-2 d-block">Link utili</span>
      <a href="https://www.nvidia.com/it-it/" class="text-white text-decoration-none mb-2 d-block">Nvidia</a>
      <a href="https://www.intel.com/content/www/us/en/homepage.html" class="text-white text-decoration-none d-block">Intel</a>
    </div>

  </div>
</footer>

<!-- Riga finale -->
<div class="bg-black text-white w-100">
  <div class="container text-center py-1">
    <span class="small m-0 p-0 d-inline-block" style="line-height: 1;">2025 © Byte&Build - All rights reserved.</span>
  </div>
</div>


<!--<span class="small">Informazioni legali</span>
    <span class="small">Cookie policy</span>
    <span class="small">Termini di utilizzo</span>-->
