<!-- Footer con sfondo esteso -->
<footer class="w-100 bg-dark text-white mt-5" style="margin-bottom: 0">
  <!-- Container centrato con padding -->
  <div
    class="container py-3 px-3 d-flex flex-wrap justify-content-between align-items-start gap-5 footer-content"
  >
    <!-- Logo -->
    <div class="footer-block">
      <img src="logot.png" alt="Home" class="footer-logo" />
    </div>

    <!-- Azienda -->
    <div class="footer-block">
      <span class="fs-5 fw-bold mb-2 d-block">La nostra azienda</span>
      <a href="/chisiamo" class="text-white text-decoration-none mb-2 d-block"
        >Chi siamo?</a
      >
      <a href="/lavoraconnoi" class="text-white text-decoration-none mb-2 d-block"
        >Lavora con noi</a
      >
    </div>

    <!-- Contatti -->
    <div class="footer-block">
      <span class="fs-5 fw-bold mb-2 d-block">Contatti</span>
      <a href="/home" class="text-white text-decoration-none mb-2 d-block">
        <i class="bi bi-telephone me-2 fs-7"></i> Whatsapp
      </a>
      <a href="/home" class="text-white text-decoration-none d-block">
        <i class="bi bi-envelope me-2 fs-7"></i> Email
      </a>
    </div>

    <!-- Link Utili -->
    <div class="footer-block">
      <span class="fs-5 fw-bold mb-2 d-block">Link utili</span>
      <a
        href="https://www.nvidia.com/it-it/"
        class="text-white text-decoration-none mb-2 d-block"
        >Nvidia</a
      >
      <a
        href="https://www.intel.com/content/www/us/en/homepage.html"
        class="text-white text-decoration-none mb-2 d-block"
        target="_blank"
        rel="noopener noreferrer"
        >Intel</a
      >
      <a
        href="https://it.msi.com/"
        class="text-white text-decoration-none mb-2 d-block"
        target="_blank"
        rel="noopener noreferrer"
        >Msi</a
      >
    </div>
  </div>
</footer>

<!-- Riga finale -->
<div class="bg-black w-100">
  <div class="container text-center text-white py-1">
    <span class="small m-0 p-0 d-inline-block" style="line-height: 1"
      >2025 © Byte&Build - All rights reserved.</span
    >
  </div>
</div>
