<h1 mat-dialog-title>Nuovo Prodotto</h1>

<div mat-dialog-content>
  
  <form [formGroup]="form" class="form-grid">
    
    <mat-form-field appearance="fill" >
    <mat-label>Categoria</mat-label>
    <mat-select formControlName="idCategoria">
      <mat-option value="null">-- Seleziona Categoria --</mat-option>
      <mat-option *ngFor="let cat of categorie" [value]="cat.id">
        {{ cat.descrizione }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="form.get('idCategoria')?.invalid && form.get('idCategoria')?.touched">
      La categoria è obbligatoria
    </mat-error>
    </mat-form-field>
    
    <!---->
      <div class="user-actions">
        <button class="custom-btn" type="button" (click)="openDialog()" [disabled]="form.invalid">Aggiungi prodotto</button>
        <button class="custom-btn-danger" type="button" (click)="onCancel()">
          Annulla
        </button>
      </div>
  </form>
</div>


<!-- Modale per "Aggiungi prodotto" 
<div class="modal" *ngIf="showModalAddProdotto">
  <div class="modal-content">
    <span class="close-btn" (click)="closeModalAddProdotto()">&times;</span>
    <h4>Aggiungi Prodotto</h4>

    <form [formGroup]="prodottoForm" (ngSubmit)="onSubmit()">-->

      <!-- Descrizione 
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Descrizione</mat-label>
        <input matInput formControlName="descrizione" />
        <mat-error *ngIf="prodottoForm.get('descrizione')?.invalid && prodottoForm.get('descrizione')?.touched">
          La descrizione è obbligatoria
        </mat-error>
      </mat-form-field>-->

      <!-- Costo 
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Costo</mat-label>
        <input matInput type="number" formControlName="costo" />
        <mat-error *ngIf="prodottoForm.get('costo')?.invalid && prodottoForm.get('costo')?.touched">
          Il costo è obbligatorio
        </mat-error>
      </mat-form-field>-->

      <!-- Prezzo 
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Prezzo</mat-label>
        <input matInput type="number" formControlName="prezzo" />
        <mat-error *ngIf="prodottoForm.get('prezzo')?.invalid && prodottoForm.get('prezzo')?.touched">
          Il prezzo è obbligatorio
        </mat-error>
      </mat-form-field>-->

      <!-- Quantità 
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Quantità</mat-label>
        <input matInput type="number" formControlName="quantita" />
        <mat-error *ngIf="prodottoForm.get('quantita')?.invalid && prodottoForm.get('quantita')?.touched">
          La quantità è obbligatoria
        </mat-error>
      </mat-form-field>-->

      <!-- Immagine 
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>URL Immagine</mat-label>
        <input matInput formControlName="img" />
        <mat-error *ngIf="prodottoForm.get('img')?.invalid && prodottoForm.get('img')?.touched">
          L'immagine è obbligatoria
        </mat-error>
      </mat-form-field>-->

      <!-- Categoria 
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Categoria</mat-label>
        <mat-select formControlName="idCategoria">
          <mat-option value="">-- Seleziona Categoria --</mat-option>
          <mat-option *ngFor="let cat of categorie" [value]="cat.id">{{ cat.descrizione }}</mat-option>
        </mat-select>
        <mat-error *ngIf="prodottoForm.get('idCategoria')?.invalid && prodottoForm.get('idCategoria')?.touched">
          La categoria è obbligatoria
        </mat-error>
      </mat-form-field>-->

      <!-- Marca
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Marca</mat-label>
        <mat-select formControlName="idMarca" [disabled]="!marche.length">
          <mat-option value="">-- Seleziona Marca --</mat-option>
          <mat-option *ngFor="let marca of marche" [value]="marca.id">{{ marca.descrizione }}</mat-option>
        </mat-select>
        <mat-error *ngIf="prodottoForm.get('idMarca')?.invalid && prodottoForm.get('idMarca')?.touched">
          La marca è obbligatoria
        </mat-error>
      </mat-form-field> -->

      <!-- Bottoni
      <div class="user-actions">
        <button class="custom-btn" type="button" (click)="addProdotto()" [disabled]="prodottoForm.invalid">Aggiungi prodotto</button>
        <button class="custom-btn-danger" type="button" (click)="closeModalAddProdotto()">
          Annulla
        </button>
      </div>

    </form>
  </div>
</div>--> 