<div class="container py-4">
  <div class="row">
    <!-- Colonna sinistra con le marche ed il prezzo -->
    <div class="col-md-3">
      <h5>Filtra per marca</h5>
      <mat-radio-group [(ngModel)]="marcaSelezionata">
        <mat-radio-button
          *ngFor="let marca of marche"
          [value]="marca"
          class="d-block mb-2"
        >
          {{ marca }}
        </mat-radio-button>
      </mat-radio-group>
      <div class="d-flex align-items-center gap-2 mb-3">
        <mat-form-field appearance="fill" style="width: 100px">
          <mat-label>Min</mat-label>
          <input matInput type="number" />
        </mat-form-field>

        <mat-form-field appearance="fill" style="width: 100px">
          <mat-label>Max</mat-label>
          <input matInput type="number" />
        </mat-form-field>
      </div>
      <mat-slider min="200" max="500">
        <input value="300" matSliderStartThumb />
        <input value="400" matSliderEndThumb />
      </mat-slider>
    </div>

    <!-- Colonna destra con i prodotti -->
    <div class="col-md-9">
      <h2>Laptop</h2>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
        <div class="col" *ngFor="let prodotto of prodottiFiltrati()">
          <mat-card appearance="outlined">
            <mat-card-header>
              <a
                [routerLink]="['/dettaglio', prodotto.id]"
                class="text-decoration-none text-dark"
              >
                <mat-card-title>{{ prodotto.titolo }}</mat-card-title>
              </a>
            </mat-card-header>
            <a
              [routerLink]="['/dettaglio', prodotto.id]"
              class="text-decoration-none text-dark"
            >
              <img
                mat-card-image
                [src]="prodotto.immagine"
                [alt]="prodotto.titolo"
              />
            </a>
            <mat-card-content>
              <a
                [routerLink]="['/dettaglio', prodotto.id]"
                class="text-decoration-none text-dark"
              >
                <p>{{ prodotto.descrizione }}</p>
              </a>
            </mat-card-content>
            <mat-card-content>
              <p>Prodotti disponibili: {{ prodotto.disponibilita }}</p>
            </mat-card-content>
            <div
              class="card-footer d-flex justify-content-between align-items-center mt-auto px-3 pb-3"
            >
              <div class="prezzo">{{ prodotto.prezzo | currency : "EUR" }}</div>
              <!-- Bottone Acquista se disponibile -->
              <button
                *ngIf="prodotto.disponibilita > 0"
                type="button"
                class="btn custom-btn"
                [routerLink]="['/dettaglio', prodotto.id]"
              >
                Acquista
              </button>
              <!-- Bottone Non disponibile se quantità zero -->
              <button
                *ngIf="prodotto.disponibilita === 0"
                type="button"
                class="btn btn-secondary"
                disabled
              >
                Non disponibile
              </button>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
